# Base ----------------------------------------
matplotlib
numpy
opencv-python
pillow
PyYAML
requests
scipy
tqdm
# detection
yolov5
onnxruntime
# Logging -------------------------------------
tensorboard
# Plotting ------------------------------------
pandas
seaborn
hdbscan